html
  margin: 0
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  height: 90%
  background: #000
  color: #fff

*
  font-size: 2vmin
  font-family: monospace
  line-height: 2vmin

a:link, a:visited
  color: #F24

body
  margin: 0
  width: 64vmin
  height: 76vmin

canvas, form, input, label
  padding: 0
  margin: 0
  display: block
  background: transparent
  width: 64vmin
  color: inherit
  border: none
  &:focus
    outline: none

#output
  height: 64vmin
  margin-bottom: 4vmin

#comment *
  color: #F24

#code-runner
  display: none
