html
  background-color: black
  color: #FFF
  box-sizing: border-box

html, *, input
  font-family: monospace
  font-size: 16px

label, input
  text-align: center
  display: block

#output
  position: fixed
  top: 30%
  left: 50%
  transform: translate(-50%, -50%)

#editor
  position: absolute
  bottom: 2em
  width: 100%

#input
  width: 100%
  margin-top: 1em
  padding: 0 1em
  background: none
  color: #FFF
  padding: 0
  border: 0
  &:focus
    outline: none

#code-runner
  display: none